---
layout: none
---

<!DOCTYPE html>
<html>
    <head>
        <title>UT-Life Navigation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="A simple GUI navigation page for UT-Austin international students.">
        <meta name="keywords" content="UT Austin, UT, Texas, Austin, International Students, Navigation, Links, ISSS">
        <meta name="author" content="ktwu01: Koutian Wu">
        <meta http-equiv="Pragma" content="no-cache">
        <meta http-equiv="Cache-Control" content="no-cache">
        <link rel="icon" href="favicon.ico">
        <link href="style.css" rel="stylesheet">
        <link href="https://kit-pro.fontawesome.com/releases/v6.4.0/css/pro.min.css" rel="stylesheet">
        <script>
          var _hmt = _hmt || [];
          (function() {
            var hm = document.createElement("script");
            hm.src = "https://hm.baidu.com/hm.js?608099a97a36357ac1c2b142b92e67db";
            var s = document.getElementsByTagName("script")[0];
            s.parentNode.insertBefore(hm, s);
          })();
        </script>
    </head>
    <body>
        <div class="u_nav-wrapper">
            <div class="u_nav clearfix">
                <div class="u_nav-left">
                    <a class="u_nav-link" href=".">UT-Life</a>
                </div>
                <div class="u_nav-input-group">
                    <form id="search-form-pc">
                        <input class="u_nav-input" id="search-pc" placeholder="Search...">
                        <input type="submit" hidden>
                    </form>
                    <ul>
                        <li class="u_nav-btn">
                            <span onclick="search('google', 'pc')">Google</span>
                            <ul class="u_nav-ul">
                                <li><span class="u_nav-li" onclick="search('bing', 'pc')">Bing</span></li>
                                <li><span class="u_nav-li" onclick="search('wolframalpha', 'pc')">Wolfram</span></li>
                                </ul>
                        </li>
                    </ul>
                </div>
                <div class="um_nav-input-group">
                    <div class="clearfix"></div>
                    <form id="search-form-mobile">
                        <input class="um_nav-input" id="search-mobile" placeholder="Search...">
                        <input type="submit" hidden>
                    </form>
                    <div class="um_nav-btn" onclick="search('google', 'mobile')">Google</div>
                    <div class="um_nav-btn" onclick="search('bing', 'mobile')">Bing</div>
                    <div class="um_nav-btn" onclick="search('wolframalpha_mob', 'mobile')">Wolfram</div>
                </div>
                <div class="u_nav-right">
                    <a class="u_nav-link" href="https://ktwu01.github.io/UT-life/">Site: <b>ktwu01.github.io/UT-life</b></a>
                    <a href="#" class="u_nav-link" onclick="setHome(this, window.location)">Set as Homepage</a>
                </div>
            </div>
        </div>
        <div class="u_main-wrapper">
            <div class="main clearfix">
                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title">Key Portals & Support</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://my.utexas.edu/" title="MyUT" icon="fad fa-house-user" %}
                            {% include block-grid.html url="https://utdirect.utexas.edu/" title="UT Direct" icon="fad fa-link" %}
                            {% include block-grid.html url="https://utexas.instructure.com/" title="Canvas" icon="fad fa-chalkboard-user" %}
                            {% include block-grid.html url="https://police.utexas.edu/" title="UT Police" icon="fad fa-shield-halved" %}
                            {% include block-grid.html url="https://emergency.utexas.edu/" title="Emergency Info" icon="fad fa-triangle-exclamation" %}
                            {% include block-grid.html url="https://www.healthyhorns.utexas.edu/uhs/index.html" title="Health (UHS)" icon="fad fa-briefcase-medical" %}
                            
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">Academics & Registration</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://registrar.utexas.edu/schedules" title="Course Schedules" icon="fad fa-calendar-days" %}
                            {% include block-grid.html url="https://registrar.utexas.edu/calendars" title="Acade Calendar" icon="fad fa-calendar-week" %}
                            {% include block-grid.html url="https://www.lib.utexas.edu/" title="UT Libraries" icon="fad fa-books" %}                            {% include block-grid.html url="https://registrar.utexas.edu/services" title="Registrar Services" icon="fad fa-landmark" %}
                            {% include block-grid.html url="https://utdirect.utexas.edu/registrar/ris.WBX" title="Registrar Info" icon="fad fa-file-lines" %}
                            {% include block-grid.html url="https://ugs.utexas.edu/slc" title="Sanger Learning Center" icon="fad fa-person-chalkboard" %}
                            {% include block-grid.html url="https://gradschool.utexas.edu/" title="Graduate School" icon="fad fa-user-graduate" %}
                            {% include block-grid.html url="https://www.utexas.edu/ugs/undergraduate-advising" title="Undergrad College" icon="fad fa-user-graduate" %}
                            {% include block-grid.html url="https://utdirect.utexas.edu/apps/student/gradereport/student/" title="My Grades" icon="fad fa-chart-line" %}
                        </div>
                    </div>
                     <div class="main-block">
                        <span class="block-title">Getting Started / New Students</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://guide.utcssa.net/" title="UTCSSA Guide" icon="fad fa-book-sparkles" %}
                            {% include block-grid.html url="https://utdirect.utexas.edu/apps/adm/mystatus/" title="MyStatus (Admissions)" icon="fad fa-file-check" %}
                            {% include block-grid.html url="https://admissions.utexas.edu/enroll/freshman-checklist" title="New Freshman Checklist" icon="fad fa-list-check" %}
                            {% include block-grid.html url="https://gradschool.utexas.edu/admissions/after-your-decision" title="New Grad Checklist" icon="fad fa-list-check" %}
                        </div>
                    </div>
                </div>

                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title">Financial</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://utdirect.utexas.edu/acct/rec/wio/wio_home.WBX" title="What I Owe" icon="fad fa-money-check-dollar" %}
                            {% include block-grid.html url="http://utdirect.utexas.edu/apps/studentfinancials/mytuitionbill/" title="Tuition Bill" icon="fad fa-file-invoice-dollar" %}
                            {% include block-grid.html url="https://utdirect.utexas.edu/acct/rec/weft/webEFT_info.WBX" title="Direct Deposit" icon="fad fa-money-bill-transfer" %}
                            {% include block-grid.html url="https://finaid.utexas.edu/" title="Financial Aid" icon="fad fa-hand-holding-dollar" %}
                            {% include block-grid.html url="https://www.google.com/search?q=ut%20austin%20Tax" title="Tax Info" icon="fad fa-receipt" %}
                            {% include block-grid.html url="https://www.google.com/search?q=ut%20austin%20Tax" title="Tax Info" icon="fad fa-calculator" %}
                            {% include block-grid.html url="https://www.google.com/search?q=ut%20austin%20Tax" title="Tax Info" icon="fad fa-percent" %}
                            {% include block-grid.html url="https://www.google.com/search?q=ut%20austin%20Tax" title="Tax Info" icon="fad fa-coins" %}
                            {% include block-grid.html url="https://www.google.com/search?q=ut%20austin%20Tax" title="Tax Info" icon="fad fa-landmark" %}
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">Campus Life & Utilities</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://housing.utexas.edu/housing" title="Housing" icon="fad fa-bed-front" %}
                            {% include block-grid.html url="https://housing.utexas.edu/dining" title="Dining" icon="fad fa-utensils" %}
                            {% include block-grid.html url="https://utdirect.utexas.edu/utapps/uhd/services/dining/" title="Dining Balances" icon="fad fa-dollar-sign fa-utensils" %}
                            {% include block-grid.html url="https://utexas.app.box.com/" title="UT Box" icon="fad fa-box" %}
                            {% include block-grid.html url="https://maps.utexas.edu/" title="Campus Map" icon="fad fa-map-location-dot" %}
                            {% include block-grid.html url="https://parking.utexas.edu/transportation/shuttles" title="Shuttle Buses" icon="fad fa-bus-simple" %}
                            {% include block-grid.html url="https://parking.utexas.edu/" title="Parking" icon="fad fa-square-parking" %}
                            {% include block-grid.html url="https://www.utrecsports.org/" title="Recreational Sports" icon="fad fa-person-running" %}
                            {% include block-grid.html url="https://universityevents.utexas.edu/" title="UT Events" icon="fad fa-calendar-star" %}
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">Legal & Other Support</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://www.google.com/search?q=ut+legal+services+for+students" title="Student Legal Services" icon="fad fa-gavel" %}
                            {% include block-grid.html url="https://ombuds.utexas.edu/student" title="Student Ombuds" icon="fad fa-scale-balanced" %}
                            {% include block-grid.html url="https://titleix.utexas.edu/" title="Title IX Office" icon="fad fa-book-user" %}
                            {% include block-grid.html url="http://disability.utexas.edu/" title="Disability & Access" icon="fad fa-universal-access" %}
                        </div>
                    </div>
                </div>

                <div class="main-col">
                    <div class="main-block">
                        <span class="block-title">Technology & Resources</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://ut.service-now.com/sp" title="IT Service" icon="fad fa-headset" %}
                            {% include block-grid.html url="https://ut.service-now.com/sp?id=ut_bs_service_detail&sys_id=f8a2f29b0ff3960003d2e498b1050ed8" title="Serv Desk" icon="fad fa-headset" %}
                            {% include block-grid.html url="https://office365.utexas.edu/" title="UTMail" icon="fad fa-envelope" %}
                            {% include block-grid.html url="https://its.utexas.edu/services/virtual-private-network-vpn" title="UT VPN" icon="fad fa-shield-keyhole" %}
                            {% include block-grid.html url="https://www.google.com/search?q=ut%20austin%20software%20downloads" title="Software" icon="fad fa-floppy-disk" %}
                            {% include block-grid.html url="https://ut.service-now.com/sp?id=kb_article&number=KB0018242" title="Duo MFA Help" icon="fad fa-mobile-screen-button" %}
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">International Student Services (ISSS)</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://global.utexas.edu/isss" title="ISSS Home" icon="fad fa-passport" %}
                            {% include block-grid.html url="https://global.utexas.edu/isss/about/contact" title="ISSS Advising" icon="fad fa-comments-question" %}
                            {% include block-grid.html url="https://global.utexas.edu/isss/immigration" title="Visa & Immigration" icon="fad fa-file-contract" %}
                            {% include block-grid.html url="https://global.utexas.edu/isss/insurance" title="Insurance Info" icon="fad fa-file-medical" %}
                            {% include block-grid.html url="https://global.utexas.edu/isss/insurance/students/waivers" title="Insurance Waivers" icon="fad fa-file-shield" %}
                        </div>
                    </div>
                    <div class="main-block">
                        <span class="block-title">Employment</span>
                        <div class="block-grid-wrapper clearfix">
                            {% include block-grid.html url="https://www.google.com/search?q=ut+austin+CPT%2FOPT+(F-1)" title="CPT/OPT (F-1)" icon="fad fa-briefcase" %}
                            {% include block-grid.html url="https://careersuccess.utexas.edu/" title="Career Success" icon="fad fa-magnifying-glass-dollar" %}
                            {% include block-grid.html url="https://utexas.joinhandshake.com/" title="Handshake" icon="fad fa-handshake" %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer">
                <a href="https://ktwu01.github.io/UT-life/">UT-Life Navigation</a> is a resource page for UT-Austin international students,
                inspired by projects like <a href="https://ustc.life/" target="_blank" rel="noopener noreferrer">USTC Navigation</a>.
                <br><br>
                Project Source: <a href="https://github.com/ktwu01/UT-life" target="_blank" rel="noopener noreferrer">github.com/ktwu01/UT-life</a>.
                If you like this project, please <a href="https://github.com/ktwu01/UT-life/star" target="_blank" rel="noopener noreferrer">star</a> or <a href="https://github.com/ktwu01/UT-life/fork" target="_blank" rel="noopener noreferrer">fork</a> this repo on GitHub.
                For errors or to suggest a link, please <a href="https://github.com/ktwu01/UT-life/issues" target="_blank" rel="noopener noreferrer">create an issue</a>.
                <br><br>
                Copyright © UT-Life {{ site.time | date: "%Y" }}
                </div>
        </div>
    </body>
    <script>
        var setHome = function(obj, url) {
            try {
                obj.style.behavior = 'url(#default#homepage)';
                obj.setHomePage(url);
            } catch(e) {
                if(window.netscape) {
                    try {
                        netscape.security.PrivilegeManager.enablePrivilege('UniversalXPConnect');
                    } catch(e) {
                        alert('Sorry, this action is blocked by your browser!\n\nSolution 1:\nType "about:config" in your address bar and press Enter.\nThen set [signed.applets.codebase_principal_support] to true.\n\nSolution 2:\nManually set '+url+' as your homepage.');
                    }
                    var prefs = Components.classes['@mozilla.org/preferences-service;1'].getService(Components.interfaces.nsIPrefBranch);
                    prefs.setCharPref('browser.startup.homepage',url);
                } else {
                    alert('Sorry, your browser does not support this action.\n\nPlease manually set ' + url + ' as your homepage.');
                }
            }
        };
        var search = function(site, env) {
            var searchId = env === 'pc' ? 'search-pc' : 'search-mobile';
            var baseURL = {
                google: 'https://www.google.com/#q=',
                baidu: 'https://www.baidu.com/s?wd=',
                bing: 'https://www.bing.com/search?q=',
                wolframalpha: 'https://www.wolframalpha.com/input/?i=',
                wolframalpha_mob: 'https://m.wolframalpha.com/input/?i='
            };
            window.open(baseURL[site] + encodeURIComponent(document.getElementById(searchId).value));
        };
        document.getElementById("search-form-pc").onsubmit = function(e) {
            e.preventDefault();
            search('google', 'pc');
        };
        document.getElementById("search-form-mobile").onsubmit = function(e) {
            e.preventDefault();
            search('bing', 'mobile');
        };
    </script>
</html>
