@import "variables";
@import "reset";
@import "nav";
@import "content";

.find-wrapper {
    text-align: center;
    padding: 15px;
    background-color: #f8f9fa;
}

#find-in-page-input {
    width: 50%;
    max-width: 600px;
    margin: 0 auto;
}
